[submodule "rosboard"]
	path = rosboard
	url = https://github.com/ANRGUSC/rosboard
[submodule "edGNN"]
	path = edGNN
	url = https://github.com/ANRGUSC/edGNN
	branch = feature/gcnsched
[submodule "wfcommons"]
	path = wfcommons
	url = https://github.com/wfcommons/wfcommons.git
